<div class="container">
    <div class="row">
      <div class="col-md-6 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Variation</h5>
            <p class="card-text">This is the content of Variation.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-4">
        <div class="card">
          <div class="card-body"(click)="onEstimateClick()">
            <h5 class="card-title">Estimates</h5>
            <p class="card-text">This is the content of Estimates.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Tender</h5>
            <p class="card-text">This is the content of Tender.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Expense</h5>
            <p class="card-text">This is the content of Expense.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  