
<ul>
    <li><button (click)="opendetaillist('BasePrice')">BasePrice</button></li>
    <li><button>SITECOST</button></li>
    <li><button>AUTHORITYCONDITION</button></li>
    <li><button>ESTATEINCLUSION</button></li>
    <li><button>FACADE</button></li>
    <li><button>FLOOR TO CEILING HEIGHT</button></li>
    <li><button>SLAB</button></li>
    <li><button>BRICKS</button></li>
    <li><button>STAIRCASE</button></li>
    <li><button>KITCHEN</button></li>
    <li><button>KITCHEN ISLAND</button></li>
    <li><button>BUTLERS KITCHEN</button></li>
    <li><button>LAUNDRY</button></li>
    <li><button>ALFRESCO</button></li>
    <li><button>MEDIA</button></li>
    <li><button>BATHROOMS</button></li>
    <li><button>VANITY</button></li>
    <li><button>ROBE</button></li>
    <li><button>WALK IN ROBES</button></li>
    <li><button>NICHE</button></li>
    <li><button>TIMBER POST</button></li>
    <li><button>RAILINGS</button></li>
    <li><button>DOORS</button></li>
    <li><button>DOORS & WINDOWS</button></li>
    <li><button>SKYLIGHT</button></li>
    <li><button>BAR</button></li>


  </ul>  
  